<div class="container col-lg-4" *ngIf="educacion">
    <div class="row">
        <div>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group">
                    <h2>Nueva Institucíon</h2>
                    <label for="nombreE">Nombre de la Institucíon</label>
                    <input type="text" class="form-control" id="nombreE" name="nombreE" [(ngModel)]="educacion.nombreE" required>
                </div>
                <div class="form-group">
                    <label for="descripcionE">Descripcion del Estudio</label>
                    <input type="text" class="form-control" id="descripcionE" name="descripcionE" [(ngModel)]="educacion.descripcionE" required>
                </div>
                <button class="btn btn-outline-primary">
                    Editar
                </button>
            </form>
        </div>
    </div>
</div>
