.row{
    padding: 20px;
}
div{
    background-color: #67B1E1;
    text-align: center;
}
/*Estilo de la foto de perfil*/
@media (min-width: 576px){
    #fotoperfil{
        position: absolute;
        width: 20%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        left: 3%;
        top:450px;
    }
}
@media (max-width: 575px){
    #fotoperfil{
        position: absolute;
        width: 30%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        left: 33%;
        top:950px;
    }
}

/*etiqueta nombre*/
#nombre{
    font-weight: bold;
    margin-top: 30%;
}



/*.about-container {
	margin: 0 50px;
	position: relative;
	padding-top: 5%;

	.qualification-container {
		.faceImg {
			border-radius: 50%;
			border-style: solid;
			border-width: 5px;
			border-color: gray;
			position: absolute;
			top: -12vw;
			left: 8%;
		}
		h1 {
			text-shadow: 3px 3px 5px #fff;
		}
		.name {
			font-size: 2rem;
		}
		.qualification {
			font-size: 1rem;
		}
	}
}*/