<div class="row">
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <img [src]="face" class="img-fluid" id="fotoperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    	<p class="fs-4" id="nombre">Alberto Alfredo Fernández</p>
        <!--<p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>-->
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
        <span>
            <h2>Acerca de mí</h2>
            <p>Hola estoy recorriendo este camino muy interesante de la programación web despues de ir por muchos otros saberes. Me despertó una gran emocion y deseo de incursionar cada vez más en este ambito es así que pongo mi mejor esfuerzo y dedicación para llegar a tal objetivo.</p>
        </span>
    </div>
</div> 
