<div class="row">
    <h1>Experiencia laboral</h1>    
    <div class="col-lg-3 d-flex justify-content-start">
        <button type="button" class="btn btn-outline-success" (click)="in()" *ngIf="!isLogged">LogIn</button>
        <button type="button" class="btn btn-outline-danger" (click)="out()" *ngIf="isLogged">LogOut</button>
        <button type="button" class="btn btn-outline-dark" routerLink="/nuevaexp" *ngIf="isLogged">
            Nueva Experiencia
        </button>
    </div>

    <div class="col lg 1"></div>
    <div class="col-lg-11">
        <table class="table">
            <tbody>
                <tr *ngFor="let Experiencia of expe">
                    <td>
                        <h2>{{Experiencia.nombreE}}</h2>
                    </td>
                    <td>{{Experiencia.descripcionE}}</td>
                    <td *ngIf="isLogged">
                        <button class="btn btn-outline-primary" routerLink="/editexp/{{Experiencia.id}}">
                            <i class="bi bi-pencil"></i> EDITAR</button>
                    </td>
                    <td *ngIf="isLogged">
                        <button class="btn btn-outline-danger" (click)="delete(Experiencia.id)">
                            <i class="bi bi-trash"></i> BORRAR</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>